*
{
box-sizing: border-box;
margin:0px;}
body{
    background-color:rgb(25, 48, 42);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

header div{display: flex;
flex-direction: row;
background-color:rgb(25, 48, 42);

margin-bottom: 1px;}

.encabezado{
    color: burlywood;
    margin:25px;
}
.logo{
    width:20%;
    justify-content: left;
}
.navegador {  justify-content:center ;
  
    background-color:rgb(25, 48, 42);
   padding:2px;
}

.navegador ul{ justify-content: space-around; margin:10px;
   
    
}
.navegador li{
   display:inline-block;
    list-style:none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
   
    
    
   
   
    
    
    
}
.navegador li a{
    text-decoration: none;
    color:wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:0px;
    flex-wrap: wrap;
   
   
   
    
}
.main{
   width:85%;
background-color:beige;

}
.contenedorfull{
    display:flex;
    width:100%;
   
}
article{
 
   justify-content: space-evenly;
   color:black;
   margin-top: 10px;
   display: flex; 
   margin-bottom: 10px;
   flex-direction: column;
   text-align: left;
   font-family: 'Poppins', sans-serif;
  
    
}

img{
  width: 75%;
    height:auto;

}
.imagen {text-align: center;}
.contenedor section article p{
  display: flex;
    width: 40%;
    font-size: large;
    text-align: justify;
    justify-content: space-evenly;
    margin-top:0px;
}
.video{
    width:50%;
}
.video iframe{
    width:100%;
}
.ingredientes{
    text-align: center;
    width:40%;
    
}  
#titulo{
text-align: center;
color:wheat;
text-decoration-line: underline;
width:70%;
padding-top:25px;
}
.redessociales2{
    
    justify-content: flex-end;
    width:20%;
    align-items: center;
}
.redessociales2 i{
    font-size: 30px;
    margin:-2px 8px 9px;
    text-decoration: none;
    color:wheat;
   
    justify-content: space-around;
 
     
  
}
.subtitulo{
    text-decoration-line: underline;

    text-align: center;
    color:black;

    
}
.subtitulo2{
    text-decoration-line: underline;
    background-color: burlywood;
    text-align: center;
    color:brown;
   
}
.receta{
    text-align: center;
    flex-direction: row;
    display: flex;

}
.receta ul, .receta li{
    
    font-size: large;
    color:black;
    
}

.receta ul{
    list-style: none;
    margin: 65px 15px 0px 0px;
}

.lateral{
    background-color: burlywood;
    color:chocolate;
    font-family: 'Poppins', sans-serif;
    
    /* margin-left: 10px; */
   
    
    /* position: relative; */
    /* min-height: 206vh; */
    /* float: right; */
    /* flex-direction: row; */
    /* margin-top: 0px; */
    display: flex;
    flex-direction: column;
    /* align-self: auto; */
    justify-content: space-around;
    align-items: center;
    width: 15%;
 
   
}
.lateral img{
    margin-top:10px;
    margin-bottom:10px;
    width:80%;
}
.canciones audio{
    width:200px;
    margin-top: 30px;
    margin-bottom: 15px;
}
footer{
   
   background-color: rgb(25, 48, 42);
   width:100%;
   justify-content: space-around;
  color:wheat;
  float:left;
   
   display:flex;
   flex-wrap: wrap;
   align-items: center;
}
.texto{
    margin-top:15px;
    font-family: 'Poppins', sans-serif;
}
.mapa{
    margin-top:2px;
}
span{
   color:wheat;
   display: flex;
   justify-content: center
}
.redessociales i{
  font-size: 30px;
  margin:10px 8px 9px;
  text-decoration: none;
  color:wheat;

   
}
.btn-wsp{
    position: fixed;
    width:55px;
    height: 55px;
    line-height: 55px;
    bottom:30px;
    right:30px;
    background-color:#0df053;
    color:#fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px; 
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover{
text-decoration: none;
background-color:#0df053;
background-color: #fff;
}
.preparacion{
    display: flex;
    
}
