body{
    background-color:wheat;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.encabezado{
    color:chocolate;
}
.navegador {  justify-content:center ;
    display:flex;
    background-color: brown;
    
   
}

.navegador ul{ justify-content: space-around;
   
    
}
.navegador li{
   display:inline-block;
    list-style:none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
   
    
    
   
   
    
    
    
}
.navegador li a{
    text-decoration: none;
    color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:0px;
   
   
   
    
}
.contenedorfull{
    display:flex;
    flex-direction: column;
    width:80%;
    height:300px;
    float:left;
}
article{
 
   justify-content: space-evenly;
   color:brown;
   margin-top: 10px;
   display: flex;
    
}

img{
  width: 75%;
    height:auto;

}

.contenedor section article p{
  display: flex;
    width: 40%;
    font-size: large;
    text-align: justify;
    justify-content: space-evenly;
    margin-top:0px;
}
    
.video{
    width:60%;
   
    
} 
.ingredientes{
    text-align: center;
    width:40%;
}  
#titulo{
text-align: center;
color:chocolate;
text-decoration-line: underline;

}
.subtitulo{
    text-decoration-line: underline;
    background-color: burlywood;
    text-align: center;
    color:brown;
    
}

.receta{text-align:center;
}
.receta ul, .receta li{
    
    font-size: large;
    color:brown
    
}

.receta ul{
    list-style: none;
    margin: 65px 15px 0px 0px;
}

.lateral{
    background-color: burlywood;
    color:brown;
    margin-top:10px;
    margin-left:10px;
   width:19%;
   height: 1350px;
    float: left;
}
.lateral img{
    margin-top:10px;
    margin-bottom:10px;
    width:80%;
}
.canciones audio{
    width:200px;
    margin-top: 30px;
    margin-bottom: 15px;
}
footer{
   float:left;
   background-color: brown;
   width:100%;
  
  
   margin-top: 10px;
}
.redessociales i{
  font-size: 30px;
  margin:7px 8px 7px;
  text-decoration: none;
    color: black;

   
}
.btn-wsp{
    position: fixed;
    width:55px;
    height: 55px;
    line-height: 55px;
    bottom:30px;
    right:30px;
    background-color:#0df053;
    color:#fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px; 
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover{
text-decoration: none;
background-color:#0df053;
background-color: #fff;
}
