body{
    background-color:wheat;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.navegador {  justify-content:center ;
    display:flex;
    background-color: brown;
    
   
}

.navegador ul{ justify-content: space-around;
   
    
}
.navegador li{
   display:inline-block;
    list-style:none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
   
    
    
   
   
    
    
    
}
.navegador li a{
    text-decoration: none;
    color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:0px;
   
   
   
    
}
article{
    display:flex;
   justify-content: space-evenly;
   color:brown;
   margin-top: 25px;;
    
}
img{
    width:100%;
    height:auto;

}

p{
    background-color: wheat;
    width: 40%;
    font-size: large;
    text-align: justify;
    justify-content: space-evenly;
}
    
.video{
    width:100%;
    height: 100%;
    
}    
#titulo{
text-align: center;
color:chocolate;
text-decoration-line: underline;

}
.subtitulo{
    text-decoration-line: underline;
    background-color: burlywood;
    
}
.receta{text-align:center;
}
.receta ul, .receta li{
    
    font-size: large;
    color:brown
    
}

.receta ul{
    list-style: none;
}

